.spacer {
    flex: 1 1 auto;
  }
  
  nav a {
    text-decoration: none;
    color: white;
    margin: 0 10px;
  }

  /* Ensures dropdown stays inside the navbar */
.relative {
  position: relative;
}

.absolute {
  position: absolute;
}
